@page "/createPartner"

<h3>Создать нового партнера:</h3>

<EditForm Model="_partner" OnValidSubmit="Create" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="Name" class="col-md-2 col-form-label">Имя:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="_partner.Name" />
            <ValidationMessage For="@(()=> _partner.Name)" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="NumberIssuedPromoCode" class="col-md-2 col-form-label">Кол-во промокодов:</label>
        <div class="col-md-10">
            <InputNumber id="numberissuedpromocode" class="form-control" @bind-Value="_partner.NumberIssuedPromoCode" />
            <ValidationMessage For="@(()=> _partner.NumberIssuedPromoCode)" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="NumberIssuedPromoCode" class="col-md-2 col-form-label">Активный?</label>
        <div class="col-md-10 form-check" style="padding-left:35px;">
            <InputCheckbox id="isactive" class="form-check-input" @bind-Value="_partner.IsActive" />
            <ValidationMessage For="@(()=> _partner.IsActive)" />
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Создать</button>
        </div>
    </div>
</EditForm>
<SuccessNotification @ref="_notification" />
