@page "/customers"
@using PromocodeFactory.UI.Tables
@using PromocodeFactory.UI.Components

<h3>Клиенты</h3>

<div class="row">
    <div class="col-md-10">
       <Search OnSearchChanged="SearchChanged"/>
    </div>
    <div class="col-md-2">
        <a href="/createCustomer">Создать клиента</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CustomerTable Customers="CustomersList" OnDelete="DeleteCustomer"></CustomerTable>
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData ="MetaData" Spread ="2" SelectedPage="SelectedPage"></Pagination>
    </div>
</div>

