@page "/customer/{id}"
@using PromocodeFactory.UI.AdditionalPages




<h3>Клиенты</h3>
<CustomerAdditional Customer="CustomerMod" Preference = "PreferenceMod" OnDelete="DeleteCustomer"></CustomerAdditional>




