@page "/getemployee"

<h3>Найти сотрудника по Id</h3>
<input @bind-value="@Id" />
@*<InputText id="name"  @bind-Value="Id"></InputText>*@
<button class="btn btn-primary" @onclick="(()=>ShowEmployee())">Найти</button>
@code {
    [Parameter]
    public string Id{ get; set; }
    [Inject]
    public NavigationManager Navigation { get; set; }

    void ShowEmployee()
    {
        Navigation.NavigateTo($"employee/{Id}");
    }
}
