@page "/preferences"
@using PromocodeFactory.UI.Tables
@using PromocodeFactory.UI.Components

<h3>Партнеры</h3>

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/createProduct">Create Product</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <PreferenceTable Preferences="PreferencesList" OnDelete="DeletePreference"></PreferenceTable>
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData ="MetaData" Spread ="2" SelectedPage="SelectedPage"></Pagination>
    </div>
</div>
