@page "/promocode/{id}"
@using PromocodeFactory.UI.AdditionalPages




<h3>Промокоды</h3>
<PromocodeAdditional  Promocode="PromocodeMod" PreferenceName="@PreferenceName" OnDelete="DeletePromocode"></PromocodeAdditional>




