@page "/updateCustomer"
@using PromocodeFactory.UI.Tables

<h3>Создать нового клиента:</h3>

<EditForm Model="_customer" OnValidSubmit="Update" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="firstname" class="col-md-2 col-form-label">Имя:</label>
        <div class="col-md-10">
            <InputText id="FirstName" class="form-control" @bind-Value="_customer.FirstName" />
            <ValidationMessage For="@(()=> _customer.FirstName)" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="LastName" class="col-md-2 col-form-label">Фамилия:</label>
        <div class="col-md-10">
            <InputText id="lastname" class="form-control" @bind-Value="_customer.LastName" />
            <ValidationMessage For="@(()=> _customer.LastName)" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Email" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="_customer.Email" />
            <ValidationMessage For="@(()=> _customer.Email)" />
        </div>
    </div>
     <div class="mb-3 row">
        <label for="preferences" class="col-md-2 col-form-label">Предпочтения:</label>
        <div class="col-md-10">
           <MultipleSelector Selected="Selected" NoSelected="NotSelected"></MultipleSelector>
          </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Обновить</button>
        </div>
    </div>
</EditForm>
<SuccessNotification @ref="_notification"/>
