@page "/updatePreference"

<h3>Обновить предпочтение:</h3>

<EditForm Model="_preference" OnValidSubmit="Update" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="name" class="col-md-2 col-form-label">Название:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="_preference.Name" />
            <ValidationMessage For="@(()=> _preference.Name)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Обновить</button>
        </div>
    </div>
</EditForm>
<SuccessNotification @ref="_notification" />
