@page "/updatePartner/{partnerId}"

<h2>Обновить данные парнетра</h2>
@if(_partner != null)
{
  
    <EditForm Model="_partner" OnValidSubmit="Update" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="FirstName" class="col-md-2 col-form-label">Имя:</label>
        <div class="col-md-10">
            <InputText id="firstname" class="form-control" @bind-Value="_partner.Name" />
            <ValidationMessage For="@(()=> _partner.Name)" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="NumberIssuedPromocode" class="col-md-2 col-form-label">Кол-во промокодов:</label>
        <div class="col-md-10">
            <InputNumber id="numberissuedpromocode" class="form-control" @bind-Value="_partner.NumberIssuedPromoCode" />
            <ValidationMessage For="@(()=> _partner.NumberIssuedPromoCode)" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="IsActive" class="col-md-2 col-form-label">Действующий:</label>
        <div class="col-md-10">
            <InputRadio id="isactive" class="form-control" @bind-Value="_partner.IsActive" />
            
            <ValidationMessage For="@(()=> _partner.IsActive)" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Редактировать</button>
        </div>
    </div>
</EditForm>
    <SuccessNotification @ref="_notification" />
}