<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">База промокодов</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> employeeSubNav = !employeeSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Сотрудники
            </NavLink>
            @if (employeeSubNav)
            {
                <NavLink class="expand-menu" href="employees">
                    <span>Все сотрудники</span>
                </NavLink>
                <NavLink class="" href="getEmployee">
                    <span>Поиск сотрудника</span>
                </NavLink>
                <NavLink class="" href="createEmployee">
                    <span>Создать сотрудника</span>
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> partnerSubNav = !partnerSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Партнеры
            </NavLink>
            @if (partnerSubNav)
            {
                <NavLink class="expand-menu" href="partners">
                    <span>Все партнеры</span>
                </NavLink>
                <NavLink class="" href="getPartner">
                    <span>Поиск партнера</span>
                </NavLink>
                <NavLink class="" href="createPartner">
                    <span>Создать партнера</span>
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> preferenceSubNav = !preferenceSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Предпочтения
            </NavLink>
            @if (preferenceSubNav)
            {
                <NavLink class="expand-menu" href="preferences">
                    <span>Все предпочтения</span>
                </NavLink>
                <NavLink class="" href="getPreference">
                    <span>Поиск предпочтений</span>
                </NavLink>
                <NavLink class="" href="createPreference">
                    <span>Создать предпочтение</span>
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> customerSubNav = !customerSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Клиенты
            </NavLink>
            @if (customerSubNav)
            {
                <NavLink class="expand-menu" href="customers">
                    <span>Все клиенты</span>
                </NavLink>
                <NavLink class="" href="getCustomer">
                    <span>Поиск клиента</span>
                </NavLink>
                <NavLink class="" href="createCustomer">
                    <span>Создать клиента</span>
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> promocodeSubNav = !promocodeSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Промокоды
            </NavLink>
            @if (promocodeSubNav)
            {
                <NavLink class="expand-menu" href="promocodes">
                    <span>Все промокоды</span>
                </NavLink>
                <NavLink class="" href="getPromocode">
                    <span>Поиск промокода</span>
                </NavLink>
                <NavLink class="" href="createPromocode">
                    <span>Создать промокод</span>
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool employeeSubNav;
    private bool partnerSubNav;
    private bool preferenceSubNav;
    private bool customerSubNav;
    private bool promocodeSubNav;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
